<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<tbody>
<tr th:if="${wires.empty}">
    <td colspan="2"> No Books Available</td>
</tr>
<tr th:each="wire : ${wires}">
    <td><span th:text="${wire.ltg}"> ltg </span></td>
    <td><span th:text="${wire.changeNumber}"> changeNumber </span></td>
    <td><span th:text="${wire.oldLength}"> oldLength </span></td>
    <td><span th:text="${wire.currentLength}"> currentLength </span></td>
    <td><span th:text="${wire.newLength}"> newLength </span></td>
    <td><span th:text="${wire.oldZuschnitt}"> oldZuschnitt </span></td>
    <td><span th:text="${wire.newZuschnitt}"> newZuschnitt </span></td>
</tr>
</tbody>
</html>